.idea/

.rocketeer/
bower_components/
cache/*
!cache/.gitkeep
configuration/*
!configuration/.gitkeep
!configuration/configuration.default.php
logs/*
!logs/.gitkeep
storage/*
!storage/**/.gitkeep
vendor/

tests/_output/*